body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.header{
  background-color:#282c34;
  padding: 20px;
  color:white;
  text-align: center;
}

.header nav a{
  margin:0 10px;
  color: white;
}

.about-section{
  padding:50px;
  text-align: center;
  background-color: #f4f4f4;
}

.profile-card{
  border:1px solid #ccc;
  padding:20px;
  margin:20px auto;
  max-width:300px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.about-section h2, projects-section h2, contact-section h2{
  margin-bottom:20px;
}

.projects-section{
  padding:50px;
  text-align: center;
}

.projects-list .project-item {
  margin-bottom:30px;
}
.projects-list .project-item h3{
  margin-bottom:30px;
}

.contact-section a{
  color: blue;
}
.contact-section{
  padding:50px;
  text-align: center;
  background-color: #f4f4f4;
}
.footer{
  background-color:#282c34;
  padding:20px;
  color:white;
  text-align: center;
}