#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center ;
  padding: 0px;
  margin: 0px;
  padding-top: 40px;
  min-height: 100vh;
}